.header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: beige;
}

.logo > img{
    width: 5em;
}

.header-menu > ul {
    display: flex;
    list-style: none;
}

.header-menu > ul > li {
    font-size: 1em;
    margin: 1em;
}
.res-card-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 0.5em;
    padding: 0.5em;
    height: 25em;
    width: 15em;
    background-color: burlywood;
    cursor: pointer;
}

.res-card:hover {
    border: 1px solid black;
    padding: 0.4em;
}

.res-image {
    width: 15em;
    height: 10em;
}

.res-details {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.filter-btn {
    padding: 1em;
}

.shimmer-container {
    display: flex;
    justify-content: flex-start;
}

.shimmer-card {
    margin: 0.5em;
    width: 15em;
    height: 25em;
    background-color: burlywood;
}

.body-top {
    display: flex;
}